version: 2.1

orbs:
  vault: contentful/vault@1

executors:
  docker-with-node:
    docker:
      - image: cimg/node:16.19.0
    working_directory: ~/build-and-test

commands:
  install-dependencies:
    steps:
      - restore_cache:
          keys:
            - npm-cache-{{ arch }}-{{ checksum ".nvmrc" }}-{{ checksum "package-lock.json" }}
            - npm-cache
      - run: npm ci --prefer-offline

  cache-dependencies:
    steps:
      - save_cache:
          key: npm-cache-{{ arch }}-{{ checksum ".nvmrc" }}-{{ checksum "package-lock.json" }}
          paths:
            - node_modules

  persist-workspace:
    steps:
      - persist_to_workspace:
          root: .
          paths:
            - .

  with-workspace:
    steps:
      - attach_workspace:
          at: ~/build-and-test

  use-vault:
    steps:
      - vault/get-secrets:
          template-preset: 'semantic-release-ecosystem'

jobs:
  prepare:
    executor: docker-with-node
    steps:
      - checkout
      - run: node --version
      - install-dependencies
      - cache-dependencies
      - persist-workspace

  build:
    executor: docker-with-node
    steps:
      - with-workspace
      - run: npm run build

  lint:
    executor: docker-with-node
    steps:
      - with-workspace
      - run: npm run prettier:check
      - run: npm run lint
      - run: npm run check-types

  unit:
    executor: docker-with-node
    parallelism: 2
    steps:
      - with-workspace
      - run:
          name: Unit Test
          command: |
            TEST=$(circleci tests glob "test/unit/**/*-test.[tj]s" | circleci tests split --split-by=filesize)
            npm run test:cover-unit
      # https://github.com/michaelleeallen/mocha-junit-reporter/issues/132#issuecomment-864212687
      - run:
          name: Process test report
          when: always
          command: |
            # Convert absolute paths to relative to support splitting tests by timing
            if [ -e ./reports/unit-results.xml ]; then
              sed -i "s|`pwd`/||g" ./reports/unit-results.xml
            fi
      - store_test_results:
          path: reports
      - store_artifacts:
          path: ./reports/unit-results.xml

  integration:
    executor: docker-with-node
    parallelism: 4
    steps:
      - with-workspace
      - run:
          name: Integration Tests
          command: |
            TEST=$(circleci tests glob "test/integration/*.[tj]s" | circleci tests split --split-by=timings --timings-type=filename)
            npm run test:cover-integration
      - store_test_results:
          path: reports
      - store_artifacts:
          path: ./reports/integration-results.xml

  # Do not use the workspace for the release step
  release:
    executor: docker-with-node
    steps:
      - checkout
      - use-vault
      - install-dependencies
      - run: npm run semantic-release

workflows:
  version: 2
  build_and_test:
    jobs:
      - prepare
      # - build:
      #    requires:
      #      - prepare
      # - lint:
      #    requires:
      #      - prepare
      - unit:
          requires:
            - prepare
      #- integration:
      #    requires:
      #      - prepare
      #      - build
      #      - lint

      - release:
          context: vault
          requires:
            - prepare
           # - build
           # - unit
           # - lint
           # - integration
          filters:
            branches:
              only:
                - master
                - next
                - next-major
